<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h1>{{ room_name }}</h1>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <h3 id="count">0</h3>
    <button id="increase">Increase</button>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.type === 'count') {
                console.log('count received')
                document.querySelector('#count').textContent = data.message;
            } else {
                console.log('message received')
                document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };
        

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'type': 'message',
                'message': message
            }));
            messageInputDom.value = '';
        };

        
        document.querySelector('#increase').onclick = function(e) {
            console.log('clicked')
            const count = document.querySelector('#count');
            const currentCount = parseInt(count.textContent); // Parse the current count as an integer
            const newCount = currentCount + 1;
            console.log(newCount);
            chatSocket.send(JSON.stringify({
                'type': 'count',
                'count': newCount
            }));
        };
    </script>
</body>
</html>